*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: none;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 250px;
    background-color: aqua;
}

span {
    position: absolute;
    margin-left: 0;
    cursor: pointer;
    color: #3e3f4e;
}

p {
    margin: 50px;
}
